.item-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  .btn {
    padding: 10px 15px;
    border: 3px solid #330033;
    border-right: none;
    background: #fff;
    font-family: "Roboto-Light";
    font-size: 18px;
    color: #000;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &.active {
      background: #330033;
      color: #fff;
      transition: 0.3s;
    }
    &:last-of-type {
      border-right: 3px solid #330033;
      margin-right: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}