.add-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  input[type="text"] {
    width: 90%;
    height: 40px;
    padding-left: 15px;
    border: 3px solid #330033;
    font-family: "Roboto";
    font-size: 18px;
    outline: none;
    transition: 0.3s;
    &:focus {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      transition: 0.3s;
    }

    &::-ms-clear {  display: none; width : 0; height: 0; }
    &::-ms-reveal {  display: none; width : 0; height: 0; }
    
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { display: none; }
  }

  .btn {
    width: 10%;
    height: 40px;
    background: #330033;
    border: none;
    font-family: "Roboto";
    color: #fff;
    outline: none;
    cursor: pointer;
  }
}